@main("Show me all you have") {


<script type="text/javascript" src="@routes.Assets.at("javascripts/angular.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/d3.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/nv.d3.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/angularjs-nvd3-directives.min.js")"></script>

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/nv.d3.css")" />


<script>
var app = angular.module('nvd3TestApp', ['nvd3ChartDirectives']);


app.controller('ExampleCtrl', function($scope, $http) {
    $http.get("/analysis/bucked/scenario")
    .success(function (response) {
    	var values=response.names.length
    	console.log(values)
    	for (i = 0; i < values; i++) {
   			console.log((response.names[i].values))
		}
    	console.log(response.names[0].values)

		 $scope.exampleData = response.names

                console.log("hello");
    	});
});
</script>

<div  ng-app='nvd3TestApp' ng-controller="ExampleCtrl">
    <nvd3-multi-bar-chart
            data="exampleData"
            id="showLegendExample"
            width="550"
            height="400"
            showXAxis="true"
            showYAxis="true"
            reduceXTicks="true"

            showLegend="true">
        <svg></svg>
    </nvd3-multi-bar-chart>
</div>




}